* {
    font-family: inherit;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body {
    display: flex;
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.hide {
    display: none !important;
}

input:read-only {
    color: #000;
    background-color: azure;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

textarea:read-only {
    color: #000;
    border-color: transparent;
    background-color: azure;
}

li:focus {
    outline: none;
    background-color: bisque;
}

.submission {
    width: 100%;
    height: 9%;
    /*border: 2px solid blueviolet;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 10px;
    padding: 5px;
}

.shield {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

#actor-list, #director-list {
    overflow-y: scroll;
    width: 100%;
    max-height: 25vh;
    min-height: 25vh;
}

.search-view {
    height: 40vh;
    width: 60vw;
    align-items: center;
    border-radius: 10px;
    opacity: 1.0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 35px;
    z-index: 101;
    background-color: azure;
}

#search-res-container {
    height: 80vh;
    width: 40vw;
    border-radius: 10px;
    opacity: 1.0;
    z-index: 101;
    background-color: azure;
    overflow-y: scroll;

    #search-results {
        background-color: azure;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .result {
        min-height: 50px;
        width: 60%;
        border-radius: 10px;
        margin-bottom: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00adc4;
        color: aliceblue;
    }
    .result:hover {
        cursor: pointer;
    }

    button {
    }
}

label {
    width: 30%;
    text-align: right;
    padding-right: 20px;
    font-weight: normal;
    font-size: 1rem;
}
input {
    margin: 10px;
    float: right;

    width: 50%;
    background-color: white;
    border-bottom: 1px solid #00adc4;
}

.selection-container {
    height: 10%;
    width: 100%;
    /*border: 2px solid red;*/
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
}

.find-a-movie {
    
    .view-area {
        height: 100vh;
        width: 75vw;
        /*border: 2px solid black;*/
        float: left;
        background-color: azure;
    }
    
    .entry-space {
        height: 80%;
        width: 100%;
        padding: 5px;
        /*border: 2px solid blue;*/
        display: flex;
        flex-direction: column;
    }
    
    .title {
        padding: 10px;
        padding-top: 15px;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }
    
    .sidebar {
        height: 100vh;
        width: 25vw;
        /*order: 2px solid blue;*/
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: azure;
    }
    
    .item {
        width: 80%;
        padding: 10px;
        /*border: 2px solid red;*/
        background-color: #00adc4;
        border-radius: 10px;
        text-align: center;
        color: aliceblue;
        font-size: 1.2rem;
    }
    
    .item:hover {
        cursor: pointer;
    }
}

.main-menu {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: azure;

    span {
        margin: 5px;
        padding: 25px;
        border-radius: 10px;
        color: aliceblue;
        background-color: #00adc4;
        /*border: 2px solid red;*/
    }

    span:hover {
        cursor: pointer;
    }
}

.movie-view {
    height: 100vh;
    width: 100vw;
    background-color: azure;

    .title {
        display: flex;
        height: 10%;
        width: 100vw;
        /*border: 2px solid red;*/
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 2rem;
    }

    .movie-scrollable {
        height: 80%;
        overflow-y: scroll;
    }

    .edit-container {
        display: flex;
        align-items: center;
    }

    #info {
        min-height: 60;
        width: 100%;
    }
    #label-for-info {
        text-align: center;
    }
    .info-container {
        flex-direction: column;
    }

    .actors-container, .director-container {
        flex-direction: column;
    }

    .left-section {
        height: 80%;
        width: 50%;
        /*border: 2px solid blue;*/
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
    }

    .right-section {
        float: right;
        height: 80%;
        width: 50%;
        /*border: 2px solid blue;*/
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
    }

    .review-section {
        display: flex;
        min-height: 20%;
        float: left;
        width: 100%;
        flex-direction: column;

        h3 {
            height: 10%;
            width: 100%;
            border-bottom: 1px solid grey;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
        }

        .reviews {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .review {
            display: flex;
            min-height: 50px;
            width: 40%;
            margin: 15px;
            font-size: .9rem;
            padding: 5px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            background-color: #00adc4;
            border-radius: 10px;
            color: aliceblue;
        }
        .review:hover {
            cursor: pointer;
        }
    }

    .button-area {
        display: float;
        justify-content: space-evenly;
        
    }
}

.edit-review {
    height: 40vh;
    width: 60vw;
    align-items: center;
    border-radius: 10px;
    opacity: 1.0;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    z-index: 101;
    background-color: azure;

    .content-area {
        height: 30vh;
        width: 100%;
        padding: 10px;

        textarea {
            width: 100%;
        }
    }
}
#top-movie-view {
    height: 100vh;
    width: 100vw;
    background-color: azure;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .top-movies-list {
        height: 80vh;
        width: 90vw;
        border: 2px solid blue;
        overflow-y: scroll;
        text-align: left;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .top-result {
        min-height: 25px;
        min-width: 50vw;
        text-align: center;
        margin: 10px;
        padding: 5px;
        background-color: #00adc4;
        border-radius: 10px;
        color: aliceblue;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}